
div.inner, #content
  margin 0 auto
  width 960px

article.project
  #fullview
    width 750px
    float left
    // height 400px
    // margin-right 0
    // padding 0
  #full
    max-width 690px

.images
  width 200px
  float right

.image
  width 90px
  float left
  display block
  margin-bottom 10px

