!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='stylesheet', href='/css/normalize.css')
      link(rel='stylesheet', href='/css/main.css')

  body
    header
      .inner
        block header
          h1
            a(href=locals.url)= locals.name
    #content
      block content
        h2 Welcome to zombocom!
    footer
      .inner
        block footer
          p &copy; #{ new Date().getFullYear() } #{ locals.owner }
    block scripts

